/* CSS June 2024 from https://codestitch.app/app/dashboard/stitches/1628*/
:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    /* clamp font sizes: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/ */ 
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #282828;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
    /* 31px - 49px */
    --headerFontSize: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

/*
--font-size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
--font-size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
--font-size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
--font-size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
--font-size-xl: clamp(1.73rem, 0.92vw + 1.5rem, 2.07rem);
--font-size-xxl: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
--font-size-xxxl: clamp(2.49rem, 1.33vw + 2.16rem, 2.99rem); 
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.5em;
    /* text-transform: uppercase; */
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 800;
    line-height: 1.5em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
                            