/* CSS June 2024 from https://codestitch.app/app/dashboard/stitches/1628*/
:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    /* clamp font sizes: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/ */ 
    --primary: #d1985f;
    --primaryLight: #d1985f;
    --secondary: #d1985f;
    --secondaryLight: #d1985f;
    --headerColor: #543310;
    --bodyTextColor: #6F4E37;
    --bodyTextColorWhite: #fafafa;
    /* 13px - 16px */
    --topperFontSize: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
    /* 31px - 49px */
    --headerFontSize: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
    --bodyFontSize: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

/* color palette https://colorhunt.co/palette/f8f4e1af8f6f74512d543310 */

/*
--font-size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
--font-size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
--font-size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
--font-size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
--font-size-xl: clamp(1.73rem, 0.92vw + 1.5rem, 2.07rem);
--font-size-xxl: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
--font-size-xxxl: clamp(2.49rem, 1.33vw + 2.16rem, 2.99rem); 
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}
*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.5em;
    /* text-transform: uppercase; */
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}
.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 800;
    line-height: 1.5em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}
.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
#id {
    padding: var(--sectionPadding);
    background-color: #FFFAFA;
}
#id .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
}
#id .cs-content {
    /* top page text container */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
}
#id .cs-title {
    /* top page text */
    max-width: 20ch;
}
#id .cs-text {
    /* top page text */
    max-width: 40rem;
    position: relative;
    z-index: 0;
}
#id .cs-text:after {
    /* top page divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
}
#id .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
}
#id .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12; 
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0 0 0;
}
#id .cs-item:hover .cs-picture img {
    opacity: .9;
    transform: scale(1.03);
}
#id .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#id .cs-picture {
    width: 100%;
    height: 15rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    overflow: hidden;
    display: block;
    position: relative;
}
#id .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain; /* cover */
    transition: transform .5s, opacity .3s;
}
#id .cs-h3 {
    padding: 0px clamp(1rem, 2.5vw, 1.25rem);
    font-size: 1.3;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
}
#id .cs-item-text {
    padding: 0px clamp(1rem, 2.5vw, 1.25rem);
    font-size: 1.1;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
#id .cs-container {
    max-width: 80rem;
}
#id .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#id .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
}
#id .cs-title {
    margin: 0;
}
#id .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
    z-index: 2;
}
#id .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
}
#id .cs-item {
    grid-column: span 6;
    padding: 25px 0 0 0;
}
#id .cs-picture {
    /* 240px - 420px */
    height: clamp(15rem, 33vw, 26.25rem);
}
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
#id .cs-item {
    grid-column: span 6;
    padding: 0 0 0 0;
}
}

/* nav bar https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */
.nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    border: none;
    list-style: none;
    margin: 0;
    padding: 1vh 0;
    text-align: center; /* « The magic. */
    background: #FFFAFA;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.nav li {
    display: inline; /* « More magic. */
    text-decoration: none;
    padding: 0 1.5vw;
}
.nav a {
    display: inline-block; /* « Last bit of magic. */
    text-decoration: none;
    /* padding: 1vh 1.5vw; */
    color: #543310;
}
.nav a:hover {
    color: #d1985f;
}